.app__navbar {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem 2rem;
  background-color: #6a5bdc;
  -webkit-box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
          box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 1px solid black;
  position: fixed;
  z-index: 2;
  font-weight: bolder;
}

.app__navbar_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.app__navbar_logo img {
  width: 75px;
  height: 75px;
}

@media screen and (min-width: 2000px) {
  .app__navbar_logo img {
    width: 180px;
    height: 40px;
  }
}

.app__navbar_links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.app__navbar_links li {
  margin: 0 1rem;
  cursor: pointer;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.app__navbar_links li div {
  width: 5px;
  height: 5px;
  background: transparent;
  border-radius: 50%;
  margin-bottom: 5px;
}

.app__navbar_links li a {
  color: black;
  text-decoration: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.app__navbar_links li a:hover {
  color: var(--secondary-color);
}

.app__navbar_links li:hover div {
  background: var(--secondary-color);
}

@media screen and (max-width: 900px) {
  .app__navbar_links {
    display: none;
  }
}

.hamburguessa {
  width: 35px;
  height: 35px;
  border-radius: 3rem;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #3d3bae;
}

.hamburguessa svg {
  width: 70%;
  height: 70%;
  color: var(--black-color);
}

.hamburguessa div {
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 5;
  padding: 0rem;
  border-radius: 4rem;
  padding: 0%;
  width: 35vw;
  height: 5vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3d3bae;
  opacity: 0.5;
  background-size: cover;
  background-repeat: repeat;
  /* top box shadow */
}

.hamburguessa div svg {
  width: 1rem;
  height: 1rem;
  color: black;
  margin: 0.5rem 1rem;
}

.hamburguessa div li {
  margin: 1rem;
}

.hamburguessa div li a {
  color: black;
  text-decoration: none;
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: 1000;
}

.hamburguessa div li a:hover {
  color: var(--secondary-color);
}

@media screen and (min-width: 900px) {
  .hamburguessa {
    display: none;
  }
}

@media screen and (min-width: 900px) {
  .hamburguessa {
    display: none;
  }
}
/*# sourceMappingURL=Navbar.css.map */